export VAULT_ADDR='{{lookup('env','VAULT_ADDR')}}'
export VAULT_AUTHTYPE=approle
export VAULT_LOGIN_MOUNT_POINT='{{ approle_login_mount_point }}'
export VAULT_ROLE_ID='{{ approle_role_id }}'
export VAULT_SECRET_ID='{{ approle_secret_id }}'
unset VAULT_TOKEN
unset VAULT_KEYS
unset VAULT_USER
unset VAULT_PASSWORD
