export VAULT_ADDR='{{lookup('env','VAULT_ADDR')}}'
export VAULT_AUTHTYPE=userpass
export VAULT_USER='{{ username }}'
export VAULT_PASSWORD='{{ userpass }}'
unset VAULT_LOGIN_MOUNT_POINT
unset VAULT_ROLE_ID
unset VAULT_SECRET_ID
unset VAULT_TOKEN
unset VAULT_KEYS
