*.py[cod]
.venv
.cache
.testenv

# Packages
.eggs
*.egg
*.egg-info
dist
build
eggs
sdist
MANIFEST

# Test
.tox
.testrepository

# Editors
*~
.*.swp
.idea
.vscode

tests/approlenv.sh
tests/userpassenv.sh
tests/vaultenv.sh
example/.ssh

# Git
*.orig
